@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');
* {
	margin:0;
	box-sizing: border-box;
}
body {
	background: rgba(0,0,0,.9);
	font-family: 'Roboto', sans-serif;
	overflow-x: hidden;
}
.app__navbar {
	position:absolute;
	top:0;
	left:0;
	right:0;
	z-index: 10;
}
.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding:.2rem 1rem;
}
.navbar img {
	width:100px;
}
.navbar img:last-child {
	width:40px;
}
.fixed {
	position: fixed;
	top:0;
	left:0;
	right:0;
	background:rgba(0,0,0,.7);
}
.header {
	height:500px;
	background-size: cover;
	background-position: center center;
	position:relative;
	display:flex;
	align-items: center;

}
.header:after {
	content:'';
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	height:7.4rem;
	background-image:linear-gradient(
		180deg,
		transparent,
		rgba(37,37,37,.8),
		#111
	);
}
.header_left {
	margin-left:40px;
	color:white;
	text-transform: capitalize;
}
.header__bottom {
	height:7.4rem;
	
}
.title {
	font-size:3rem;
	margin-bottom:5px;
}
.btn {
	padding:.5rem 2rem;
	margin-right:.5rem;
	margin-bottom:10px;
	background:rgba(0,0,0,.6);
	border:none;
	outline:none;
	color:white;
	transition: .4s;
	font-weight: 700;
	cursor: pointer;
}
.btn:hover {
	background:white;
	color:black;
}
.description {
	font-size: 14px;
	letter-spacing: 1px;
	width:25rem;
	font-weight:600;
	line-height:1.3;
}
.rows {
	color:white;
	margin:30px;
}
.row-posters::-webkit-scrollbar { width: 0 !important }

.row-posters {
	display:flex;
	align-items: center;
	overflow:auto;
}

.row-posters img {
	height:150px;
	margin:.3rem;
	margin-top:10px;
	object-fit: contain;
	transition: all ease .4s
}
.rows:first-child .row-posters img {
	height:300px;
}
.row-posters img:hover {
	transform: scale(1.05,1.05);
}
.video-display {
	position:fixed;
	top:0;
	left:0;
	bottom:0;
	right:0;
	background:rgba(0,0,0,.5);
	display:flex;
	justify-content:center;
	align-items:center;
}
@media all and (max-width:900px) {
	iframe {
		width:100vw;
		height:400px;
	}
}
@media all and (max-width:420px) {
	.title {
		font-size:2rem;
	}
	.description {
		font-size:12px;
		width:15rem;
	}
}